#footer {
  margin-top: 10px;
}

#footer span {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #999999;
}

img {

}

.logo {
  margin: 10px;
}

.thumbnail {
	margin-bottom: 20px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -115px;
}

#footer, #push {
	height: 115px;
}

html, body {
	height: 100%;
}

dl {
	margin-top: -18px;
}
	
dt {
	position: relative;
	left: 0;
	top: 18px;
	width: 5em;
	font-weight: bold;
}
	
dd {
	padding-left: 60px;
}

.panel-heading > h3 {
	font-size: 14px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-weight: bold;
}

/* redefinitions */

.panel-heading {
	background-color: #EBEBEB;
}

hr {
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #DCE6DA;
  border-radius: 4px;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #C4CFC2;
  border-radius: 4px;
}

#main h2 {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
    margin-top: 0px;
}

#main p + h2 {
    margin-top: 20px;
}

#main ul + h2 {
    margin-top: 20px;
}

#main h3 {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
    padding-top: 0px;
    margin-top: 0px;
}

#main p {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
    padding-top: 0px;
    margin-top: 0px;
}


#main ul + p {
    margin-top: -1px;
    padding-top: 1px;
}

#main dl + p {
    margin-top: -1px;
    padding-top: 1px;
}

#main p + ul {
    margin-top: -10px;
    padding-top: 0px;
}

#main p + dl {
    margin-top: -10px;
    padding-top: 0px;
}

#main ul + dl {
    margin-top: -10px;
    padding-top: 0px;
}

#main dl + ul {
    margin-top: -10px;
    padding-top: 0px;
}

#main p + p {
    margin-top: -1px;
    padding-top: 1px;
}

#main ul + ul {
    margin-top: -1px;
    padding-top: 1px;
}

#main dl + dl {
    margin-top: -1px;
    padding-top: 1px;
}

#main p + h3 {
    margin-top: -1px;
    padding-top: 1px;
}

#main ul {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
    padding-top: 0px;
    margin-top: 0px;
}

#main dl {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
    padding-top: 0px;
    margin-top: 0px;
}

#main ul li{
    margin-left: 19px;
}

#main dl li{
    margin-left: 19px;
}
