---
title: contact us
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h1>Wiltshire Mammal Group</h1>
					<form class="navbar-form pull-left">
						<input type="text" class="form-control" style="width: 200px;">
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				</div>
				<div class="col-lg-4">
					<img class="pull-right logo" src="img/MammalGroupLogo.jpg" height="121px"/>
				</div>
			</div>
			<div class="row">
				<div class="navbar">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="records.html">Records</a></li>
						<li><a href="projects.html">Projects</a></li>
						<li><a href="get_involved.html">Get Involved</a></li>
						<li><a href="join.html">Join</a></li>
						<li><a href="key_partners.html">Key Partners</a></li>
						<li class="active"><a href="contact_us.html">Contact Us</a></li>
						<li><a href="faqs.html">FAQ's</a></li>
						<li><a href="useful_links.html">Useful Links</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="well">
						<h2>Contact Details</h2>
						<p>
							If you'd like to get involved in survey and monitoring for mammals to help us achieve our aims, have any mammal related enquiries or need help using Living Record then contact the group at:
						
							<dl>
								<dt>Email:</dt>
								<dd><a href="mailto:wiltshiremammalgroup@hotmail.co.uk">wiltshiremammalgroup@hotmail.co.uk</a></dd>
								<dt>Post:</dt>
								<dd>Wiltshire Mammal Group c/o WSBRC</dd>
								<dd>Elm Tree Court</dd>
								<dd>Long Street</dd>
								<dd>Devizes</dd>
								<dd>Wiltshire</dd>
								<dd>SN10 1NJ</dd>
							</dl>
						</p>
					</div>
				</div>
				<div class="col-lg-4">

				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>
	<div id="footer">
	    {% include footer.html %}
    </div>	
	<!-- JavaScript plugins (requires jQuery) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Optionally enable responsive features in IE8 -->
	<script src="js/respond.js"></script>
  </body>
</html>
