---
title: join
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h1>Wiltshire Mammal Group</h1>
					<form class="navbar-form pull-left">
						<input type="text" class="form-control" style="width: 200px;">
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				</div>
				<div class="col-lg-4">
					<img class="pull-right logo" src="img/MammalGroupLogo.jpg" height="121px"/>
				</div>
			</div>
			<div class="row">
				<div class="navbar">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="records.html">Records</a></li>
						<li><a href="projects.html">Projects</a></li>
						<li><a href="get_involved.html">Get Involved</a></li>
						<li class="active"><a href="join.html">Join</a></li>
						<li><a href="key_partners.html">Key Partners</a></li>
						<li><a href="contact_us.html">Contact Us</a></li>
						<li><a href="faqs.html">FAQ's</a></li>
						<li><a href="useful_links.html">Useful Links</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="well">
						<h2>Introduction</h2>
						<p>
							...
						</p>
					</div>
					<div class="well">
						<h2>Membership</h2>
						<p>
							Membership of the group costs &#163;10 per year via a standing order (for ease of administration). To support the work of the group by becoming a member email the group and we will send you a standing order form to fill in and send to your bank. We will then put you on the mailing list as a member, giving alerts to training events, activities and surveys. 
						</p>
					</div>
					<div class="well">
						<h2>Meetings</h2>
						<p>
							The group meet two to four times a year at the Wiltshire Wildlife Trust's head offices in Devizes. If you would like to come along and find out more about what we are up to then please contact us.
						</p>
					</div>
				</div>
				<div class="col-lg-4">

				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>
	<div id="footer">
	    {% include footer.html %}
    </div>	
	<!-- JavaScript plugins (requires jQuery) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Optionally enable responsive features in IE8 -->
	<script src="js/respond.js"></script>
  </body>
</html>
